.user-wrapper
  =render "shared/header-main"
  .userNew
    .userNew_index
      %h4 新規ユーザー登録
    =form_with model:@user, url:users_sign_up_final_path, local: true, id: 'credit-form', class: 'signupForm' do |f|
      .signupForm_index
        %p クレジットカード登録
      =render "devise/shared/form-newcredit"
      %button.btn
        =f.submit "登録", id:'token-submit'
  =render "shared/footer-main"