.user-wrapper
  =render "devise/shared/header-user"
  .user-new
    %h1.title
      %p.user-title クレジットカード登録
    =form_with model:@user, url:users_sign_up_final_path, local: true, id: 'credit-form', class: 'user-forms' do |f|
      =render "devise/shared/form-newcredit"
      %button.btn
        =f.submit "登録", id:'token-submit'
  =render "shared/footer-main"