.admin-wrapper
  = render "shared/header-main"
  = render "shared/navbar"
  .adminTop
    .adminTop_index
      %h4 管理者メニュー
    .adminTop_menu
      .card.adminMenu
        %i.fas.fa-users.fa-3x
        .card-body
          %h5.card-title
            ユーザー管理
          %small.card-text
            ユーザー情報の変更、削除
      =link_to admin_schedules_path do
        .card.adminMenu
          %i.fas.fa-calendar.fa-3x
          .card-body
            %h5.card-title
              日程・在庫管理
            %small.card-text
              日程と在庫の追加、変更、削除
      .card.adminMenu
        %i.fas.fa-grip-horizontal.fa-3x
        .card-body
          %h5.card-title
            スタジアム管理
          %small.card-text
            座席の設定


