.user__child-forms.form-group.col-md-12
  %label
    カード番号
  #number.form-control.col-md-7
  %small.text-muted
    ハイフン(-)を除く数字のみを入力してください
.user__child-form.form-group.col-md-12
  %label
    有効期限
  #exp.form-control.col-md-4
.user__child-form.form-group.col-md-12
  %label
    CVC
  #cvc.form-control.col-md-4
  %small.text-muted
    カード裏面の3桁もしくは4桁の数字を入力してください
