.form-cards
  .form__child-cards.form-group.col-md-7
    %label.form__child-number
      カード番号
    %input.form-control
  .form__child-cards.form-group.col-md-7
    %label.form__child-expire
      有効期限
    %input.form-control
  .form__child-cards.form-group.col-md-7
    %label.form__child-cvc
      CVC
    %input.form-control
  