.form-group
  %label
    カード番号
  #number.form-control.col-7
  %small.text-muted
    ハイフン(-)を除く数字のみを入力してください
.form-group
  %label
    有効期限
  #exp.form-control.col-3
.form-group
  %label
    CVC
  #cvc.form-control.col-2
  %small.text-muted
    カード裏面の3桁もしくは4桁の数字を入力してください
