= form_with model: @user,  url: new_user_session_path, local: true, class: 'user-forms' do |f|
  .user__child-forms.form-group.col-md-7
    %label
      メールアドレス
    = f.email_field :email, class: "form-control"
  .user__child-forms.form-group.col-md-7
    %label
      パスワード
    = f.password_field :password, class: "form-control"
  %button.btn
    =f.submit "ログイン"