= javascript_pack_tag 'main'
.funClub-wrapper
  = render "shared/header-main"
  .funClub
    %section.funClub__schedules
      %h1.title
        最近の試合
      .funClub__child-schedules
        .funClub__child-schedule
          =link_to "#", class:"funClub__child-match" do
            =render "shared/match-index"
          =link_to "#", class:"funClub__child-match" do
            =render "shared/match-index"
          =link_to "#", class:"funClub__child-match" do
            =render "shared/match-index"
          =link_to "#", class:"funClub__child-match" do
            =render "shared/match-index"
    %section.funClub__contents
      .funClub__child-content
        .funClub__child-diary
          %h1.title
            選手日記
      .funClub__child-content
        .funClub__child-info
          %h1.title
            お知らせ
  =render "shared/footer-main"