.funclub-wrapper
  = render "shared/header-main"
  %section.funclub--main
    %h1.funclub__index
      最近の試合
    .funclub__child-items
      .funclub__child-item
        =link_to "#", class:"funclub__child-match" do
          =render "shared/match-index"
        =link_to "#", class:"funclub__child-match" do
          =render "shared/match-index"
        =link_to "#", class:"funclub__child-match" do
          =render "shared/match-index"
        =link_to "#", class:"funclub__child-match" do
          =render "shared/match-index"
        =link_to "#", class:"funclub__child-match" do
          =render "shared/match-index"
  =render "shared/footer-main"