.stock-wrapper
  = render "shared/header-main"
  .stockIndex
    %h1.title
      チケット在庫管理
    .stockIndex-list
      - if can? :edit, current_user
        .stockIndex-add
          =link_to new_stock_path do
            在庫を追加する