= form_with model: @schedule, class:'schedule-forms' do |f|
  %table
    %thead
      %tr
        %th 試合日時
        %th 対戦相手
    %tbody
      %tr
        %td
          = f.datetime_field :match_date, class: "form-control"
        %td
          = f.collection_select :opponent_id, @team, :id, :name, {prompt: '対戦相手を選んでください'}, {class:'form-control'}
  = f.submit "作成"