%header.header.header--main
  .header__items
    =link_to root_path, class:"logo header__child-items" do
      FUN CLUB
    .header__child-items
      - if user_signed_in?
        .header__child-item
          %buton.btn
            =link_to "#", class:"header__child-mypage" do
              マイページ
            =link_to "#", class:"header__child-logout" do
              ログアウト
      - else
        .header__child-item
          =link_to "#", class:"btn btn-lg btn-outline-dark header__child-new", rorle:"button" do
            新規登録
          =link_to "#", class:"btn btn-lg btn-dark header__child-login", rorle:"button" do
            ログイン
  .header__lwr
    %li.header__lwr__menus
      %ul.header__lwr__menu
        トップページ
      %ul.header__lwr__menu
        スケジュール
      %ul.header__lwr__menu
        選手一覧
      %ul.header__lwr__menu
        スタジアム


