.match--index
  .match__componets
    .match__child-componet
      %p.match__child-date
        ○月×日
      %p.match__child-time
        18::00
    .match__child-componet
      %p.match__child-opponent
        VS Bチーム