.match__componets
  .match__child-componet
    %p.match__child-opponent
      =icon('fab', 'fort-awesome')
  .match__child-componet
    %p.match__child-date
      2020/01/01
    %p.match__child-time
      18:00
