.mypageMenu
  .mypageMenu__inner.list-group
    = link_to user_path(current_user.id), class: "mypageMenu__child-inner list-group-item" do
      ユーザー情報
    = link_to cards_path(current_user.id), class: "mypageMenu__child-inner list-group-item" do
      クレジットカード
    = link_to logout_user_path(current_user.id), class: "mypageMenu__child-inner list-group-item" do
      ログアウト
