.mypageMenu
  %ul.mypageMenu__inner.list-group
    %li.mypageMenu__child-inner.list-group-item
      ユーザー情報
    %li.mypageMenu__child-inner.list-group-item
      保有チケット
    %li.mypageMenu__child-inner.list-group-item
      クレジットカード登録
