.mypageMenu
  .mypageMenu__inner.list-group
    = link_to user_path, class: "mypageMenu__child-inner list-group-item" do
      ユーザー情報
    = link_to card_path, class: "mypageMenu__child-inner list-group-item" do
      クレジットカード
    = link_to logout_user_path, class: "mypageMenu__child-inner list-group-item" do
      ログアウト
