.funclub--main{
  min-width: 300px;
  max-width: 650px;
  margin: 0 auto;
}

.funclub__index{
  border-bottom: solid #666;
}

.funclub__child-item{
  display: flex;
  justify-content: space-between;
}

.funclub__child-match{
  width: 100px;
}
