.funClub-wrapper{
  background-color: #eeeeee;
}

.funClub{
  min-width: 300px;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 150px;
  background-color: #ffffff;
}

.funClub__schedules{
  padding: 0 20px;
}

.funClub__child-schedule{
  min-width: 300px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto 30px;
}

.funClub__contents{
  padding: 0 20px;
  justify-content: space-between;
}

.funClub__child-diary{
  min-width: 300px;
  max-width: 1080px;
  height: 300px;
}

.funClub__child-info{
  min-width: 300px;
  max-width: 1080px;
  height: 350px;
}
