.header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.headerMain{
  height: 48px;
}

.logo{
  font-size: 2rem;
  color: #ffffff;
}

.headerMain_items{
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.headerMain_item-logo{
  width: 200px;
  text-align: center;
}

.headerMain_item-auth{
  width: 150px;
  text-align: center;
  line-height: 48px;
}

.headerMain_item-mypage{
 color: #ffffff;
}

.headerMain_item-login{
  color: #ffffff;
}

.headerUser{
  height: 100px;
  margin-bottom: 25px;
  line-height: 100px;
  text-align: center;
}
