.header{
  height: 200px;
}

.header--main{
  padding: 25px 50px;
}
.header__upr{
  height: 60%;
  margin: 10px;
  border-bottom: solid 2px #666;
  display: flex;
  justify-content: space-between;

  &__logo{
    font-size: 45px;
    height: 50px;
    margin-bottom: 8px;
  }
}

.header__lwr{
  height: 40%;
  width: 650px;
  margin: 10px auto;
  padding: 0 50px;

}

.header__lwr__menus{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
