.myPage-wrapper{
  background-color: #eeeeee;
}

.myPage{
  max-width: 980px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}

.mypageMenu{
  min-width: 200px;

}

.mypageIndex{
  min-width: 500px;
  flex: auto;
}

.mypageCredit{
  min-width: 300px;
  max-width: 500px;
  flex: auto;
  margin: 0 auto;
}
