.NewUser-menus{
  padding-top: 200px;
  min-width: 300px;
  max-width: 650px;
  margin: 0 auto;
}

.NewUser-title{
  margin: 0;
}

.NewUser__child-menus{
  width: 400px;
  margin: 30px auto;
  text-align: center;
}

.NewUser__child-mail{
  font-size: 25px;
  width: 100%;
  display: block;
}

.NewUser__child-google{
  font-size: 25px;
  margin-top: 15px;
  width: 100%;
  display: block;
}

