.scheduleIndex{
  padding-top: 155px;
  min-width: 450px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
}

.scheduleIndex-month{
  margin: 10px 75px 10px;

}

.matchBox{
  height: 100px;
  margin-bottom: 10px;
  border: solid 3px #eeeeee;
  border-radius: 10px;
  padding: 7px;
  background-color: #eeeeee;
}

.matchBox__child-date{
  font-size: 28px;
  color: #fff;
}

.scheduleNew{
  padding-top: 155px;
  min-width: 450px;
  max-width: 800px;
  margin: 0 auto;
}

.scheduleIndex-month

.schedule-forms{
  width: 650px;
  margin: 30px auto;
}

table{
  width: 100%;
}

td{
  width: 50%;
}

tr{
height: 50px;
}