.scheduleIndex{
  padding-top: 155px;
  min-width: 450px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
}

.scheduleIndex-month{
  margin: 10px 75px 10px;
}

.scheduleIndex-add{
  margin-bottom: 5px;
  text-align: right;
}

.scheduleIndex-inner{
  padding: 15px;
}

.card{
  margin-bottom: 10px;
}

.card-body{
  display: flex;
}

.card-schedule{
  width: 30%;
}

.card-date{
  font-size: 25px;
}

.card-time{
  font-size: 15px;
}

.vs{
  margin-right: 10px;
  font-size: 20px;
}

.card-text{
  width: 70%;
  font-size: 40px;
}


.scheduleNew{
  padding-top: 155px;
  min-width: 450px;
  max-width: 800px;
  margin: 0 auto;
}

.schedule-forms{
  width: 650px;
  margin: 30px auto;
}

table{
  width: 100%;
}

td{
  width: 50%;
}

tr{
height: 50px;
}