.scheduleIndex{
  padding-top: 155px;
  min-width: 450px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
}

.scheduleIndex-month{
  margin: 10px 75px 10px;
}

.scheduleIndex-add{
  margin-bottom: 5px;
  text-align: right;
}

.scheduleIndex-inner{
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  width: 200px;
  margin-bottom: 13px;
}

.cardDate{
  font-size: 24px;
}

.cardTime{
  font-size: 13px;
}

.cardOpponent{
  font-size: 24px;
  margin-bottom: 8px;
}

.cardLink{
  font-size: 15px;
}


.scheduleNew{
  padding-top: 155px;
  min-width: 450px;
  max-width: 800px;
  margin: 0 auto;
}

.schedule-forms{
  width: 650px;
  margin: 30px auto;
}

table{
  width: 100%;
}

td{
  width: 50%;
}

tr{
height: 50px;
}