.NewUser__menus{
  padding-top: 200px;
  min-width: 300px;
  max-width: 650px;
  margin: 0 auto;
}

.NewUser__menus--title{
  border-bottom: solid 3px #666666;
  margin: 0 50px 0 ;
  padding: 5px;
}

.NewUser__title{
  margin: 0;
}

.NewUser__child-menus{
  font-size: 20px;
  width: 450px;
  margin: 30px auto;
  text-align: center;
}