.user-wrapper{
  background-color: #eeeeee;
}

.userExist{
  max-width: 980px;
  margin: 0 auto;
  padding: 30px 60px;

}

.userExist_contents{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.userEmail{
  width: 380px;
  padding: 20px;
  border-right: solid 1px #666666;
}

.userEmail_index{
  width: 200px;
  border-bottom: solid 2px #666666;
}

.userSns{
  width: 320px;
  padding: 20px;
}

.userSns_index{
  width: 150px;
  border-bottom: solid 2px #666666;
}

.userSns_inner{
  height: 200px;
  padding: 30px 20px;
  text-align: center;
}

.userSns_google{
  margin-bottom: 20px;
}

@media(max-width:900px){
  .userExist_contents{
    display: block;
  }
  .userEmail{
    border-right: 0;
    margin: 0 auto 25px;
    padding: 15px;
  }
  .userSns{
    width: 380px;
    margin: 0 auto;
    padding: 15px;
  }
  .userSns_inner{
    height: 150px;
    padding: 20px 10px;
  }
}




