.NewUser__confirmations{
  padding: 0 20px;
}

.NewUser__child-confirmations{
  margin-bottom: 15px;
}

.NewUser__child-name{
  font-size: 20px;
  padding-left: 10px;
}

.NewUser__child-kana{
  font-size: 20px;
  padding-left: 10px;
}

.NewUser__child-email{
  font-size: 20px;
  padding-left: 10px;
}

.NewUser__child-password{
  font-size: 15px;
  padding-left: 10px;
}
