.user-new{
  padding-top: 200px;
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;

}

.NewUser__index{
  border-bottom: solid 2px #666666;
  padding-bottom: 2px;
}

.slash{
  line-height: 38px;
  margin: 0 5px;
}