.adminSchedule{
  max-width: 980px;
  margin: 0 auto;
}

.newSchedule{
  max-width: 980px;
  margin: 0 auto;
}

.scheduleForm{
  width: 750px;
  margin: 0 auto;
  padding: 25px;
}

.calendar-title{
  font-size: 20px;
}