.adminSchedule{
  max-width: 980px;
  margin: 0 auto;
}

.newSchedule{
  max-width: 980px;
  margin: 0 auto;
}

.scheduleForm{
  width: 750px;
  margin: 0 auto;
  padding: 25px;
}

.adminSchedule_month-inner{
  display: flex;
  flex-wrap: wrap;
}

.schedule{
  width: 150px;
  margin-right: 20px;
}