.ExistUser-wrapper
  = render 'devise/shared/header-user'
  .ExistUser-menus
    %h1.ExistUser-menus__title
      %p.ExistUser-title ログイン
    .ExistUser__child-menus
      =link_to new_user_session_path, class: 'btn btn-dark btn-lg ExistUser__child-mail' do
        メールアドレスでログイン
      =link_to '#', class: 'btn btn-danger btn-lg ExistUser__child-google' do
        googleアカウントでログイン
  = render 'shared/footer-main'