.card-wrapper
  = render 'shared/header-main'
  .myPage
    =render 'shared/menu-mypage'
    .editCredit
      %h2.title クレジットカード編集
      .cardForm
        = form_with model: @card, id: 'credit-form' do |f|
          = render 'devise/shared/form-newcredit'
          %button.btn
            = f.submit "更新", id:'token-submit'