.card-wrapper
  = render 'shared/header-main'

  .cardIndex
    .mypageMenu
      =render 'shared/menu-mypage'
    .cardForm
      =form_with model: @card, id: 'credit-form' do |f|
        =render  'devise/shared/form-newcredit'
        %button.btn
          =f.submit  "登録", id:'token-submit'
