.adminSchedule-wrapper
  = render "shared/header-main"
  = render "shared/navbar"
  .editSchedule
    %h4.editSchedule_index
      スケジュール編集
    .editSchedule_inner
      = render "form-schedule"
      =link_to admin_schedule_path, method: :delete, class: "btn btn-sm btn-dark" do
        削除