.adminSchedule-wrapper
  = render "shared/header-main"
  = render "shared/navbar"
  .adminSchedule
    .adminSchedule_index
      %h4 スケジュール
    .adminSchedule_month
      .adminSchedule_month-link
        =link_to new_admin_schedule_path do
          スケジュールを追加する
      .adminSchedule_month-calendar
        = month_calendar do |date|
          = date.day