.adminSchedule-wrapper
  = render "shared/header-main"
  = render "shared/navbar"
  .adminSchedule
    .adminSchedule_index
      %h4 スケジュール
    .adminSchedule_month
      = month_calendar events: @schedules do |date, events|
        = date.day