.adminSchedule-wrapper
  = render "shared/header-main"
  = render "shared/navbar"
  .adminSchedule
    .adminSchedule_index
      %h4 スケジュール
    .adminSchedule_month
      = month_calendar do |date|
        = date.day