@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "config/sanitize";
@import "modules/funclub";
@import "modules/match";
@import "modules/header";
@import "modules/footer";
@import "modules/user-menu";
@import "modules/user-new";

a{
  text-decoration: none;
  color: #333;
}

li{
  list-style: none;
}