@import 'bootstrap/scss/bootstrap';
@import "simple_calendar";
@import "config/sanitize";
@import "modules/funclub";
@import "modules/match";
@import "modules/header";
@import "modules/footer";
@import "modules/user-new";
@import "modules/user-confirmation";
@import "modules/user-exist";
@import "modules/schedules";
@import "modules/admin/schedules";
@import "modules/stocks";
@import "modules/managements";
@import "modules/mypage";
@import "modules/cards";
@import "modules/navbar";
@import "modules/admins";



a, a:hover {
  text-decoration: none;
  color: #333333;
}

li{
  list-style: none;
}
