@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "config/sanitize";
@import "modules/funclub";
@import "modules/match";
@import "modules/header";
@import "modules/footer";
@import "modules/user-menu";
@import "modules/user-new";
@import "modules/user-confirmation";
@import "modules/user-exist";
@import "modules/schedules";
@import "modules/stocks";
@import "modules/managements";



a, a:hover {
  text-decoration: none;
  color: #333333;
}

li{
  list-style: none;
}

.title{
  border-bottom: solid 3px #666666;
  margin: 0 50px 0 ;
  padding: 5px;
}

.user-text{
  font-size: 15px;
}

.user__child-forms{
  margin-bottom: 15px;
}
